<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Summary</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/navigator"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
